<nav class="bg-white shadow-lg">
    <div class="max-w-6xl mx-auto px-4">
        <div class="flex justify-between">
            <div class="flex space-x-7">
                <!--Website Logo-->

                <a href="#" class="flex items-center py-4 px-2">
                        <img src="assets/logos/logo-yaa.png" alt="Logo" class="h-8 w-8 mr-2">
                        <span class="font-semibold text-gray-500 text-lg">
                            YAA KHAYER
                        </span>
                </a>
            </div>
            <div class="hidden md:flex items-center space-x-1">
                <a href=""
                    class="py-4 px-2 text-gray-500 hover:border-b-4 border-[#588157] hover:text-[#588157] font-semibold transition-all duration-300">
                    Home
                </a>
            <a href=""
            class="py-4 px-2 text-gray-500 hover:border-b-4 border-[#588157] hover:text-[#588157] transition-all duration-300">
         Services
</a>
            <a href=""
            class="py-4 px-2 text-gray-500 hover:border-b-4 border-[#588157] hover:text-[#588157] transition-all duration-300">
         About
   </a>
            <a href=""
            class="py-4 px-2 text-gray-500 hover:border-b-4 border-[#588157] hover:text-[#588157] transition-all duration-300">
         Contact Us
</a>
<button class=" text-white mx-3 bg-[#588157] hover:bg-[#3a5a40] focus:ring-4 focus:outline-none focus:ring-primary-300 rounded-sm px-2 py-2 text-sm text-center transition-all duration-500">Login/Register</button>
             </div>

<div class="md:hidden flex items-center">
 <button class="outline-none menu-button">
             <svg class="w-6 h-6 text-gray-500" x-show="! showMenu" fill="none" stroke-linecap="round"
                 stroke-linejoin="round" stroke-width="2" viewBox="0 00 24 24" stroke="currentColor">
                 <path d="m4 6h16M4 12h16M4 18h16"></path>
            </svg>
         </button>
     </div>

     <div class="hidden mobile-menu">
         <ul class="">
             <li class="active">
               <a href="nav.html"
                class="block text-sm px-2 py-4 text-white bg-[#588157] font-semibold">
               Home
               </a>
             </li>
             <li>
               <a href="#services"
                class="block.text-sm.px-2.py-4 hover:bg-[#588157] transition duration-300">
               Services
             </a>
             </li>
             <li>
             <a href="#About"
              class="block.text-sm.px-2.py-4 hover:bg-[#588157] transition duration-300">
             About
           </a>
             </li>
             <li>
              <a href="#Contact Us"
               class="block.text-sm.px-2.py-4 hover:bg-[#588157] transition duration-300">
             Contact Us
       </a></li>
         </ul>
     </div>
 </div>
</div>
 </nav>
